<html>
<head><title>The Forest Glade Fives</title></head>
<body style="width:750px;padding:0;">
<table style="width:750px;border:solid 2px black;">
  <tr>
    <td colspan="2" style="background-color:#003399;border-right:solid 2px gray;">
        <div style="width:738px;overflow:auto;border-bottom:solid 2px gray;;">
          <div style="float:left;padding:30px 0 0 10px;"><img src="http://www.thefg5s.co.uk/images/fg_logo.png" alt="FGFC"/></div>
           <div style="text-align:center;vertical-align:middle;font-size:50px;padding:10px;color:white;">The Forest Glade Fives <%=year%></div>
        </div>
  </td>
  </tr>
  <tr>
    <td style="background-color:#f0e68c;vertical-align:text-top;border-right:solid 1px gray;">
  <div style="float:left;font-size:12px;width:160px;padding-right:10px;height:100%;border-top:solid 1px gray;">
    <div style="float:left;padding:15px ;">
        <img src="http://www.thefg5s.co.uk/images/fg5s-small-logo-no-year.png" alt="FGFC"/>
    </div>
    <div><span style="color:#00008b;font-size:38px;font-weight:bold;margin-left: 25px;"><%=year%></span></div>
    <p><strong>Forest Glade Football Club</strong> is an FA Chartered Standard Community Club and as such offers participants in this tournament all of the best practices recommended by the FA.</p>
    <p>The format for age groups U9 and above will be a league stage followed by a knock-out stage whereby each team will have a minimum of at least 4 games.</p>
    <p>Trophies will be presented to all players in Winning teams and the Runners-Up. </p>
    <p>The tournament is being held at:</p>
     <p> Forest Glade Football Club,<br/> Barleylands Road,<br/>Barleylands,<br/>Billericay,<br/>Essex<br/>SS15 4BG</p>
    <p><strong>Please send completed applications and entrance fee to:</strong> </p>
    <p>Lee Ashley, <br/>3 Grennan Close,<br/>Ingrave,<br/>Brentwood,<br/>Essex,<br/>CM13 3YD </p>
    <p></p>
  </div>
  </td>
   <td style="background-color:white;">
  <div  style="color:#00008b;font-size:30px;font-weight:bold;text-align:center;"><%=$saturday_date%> & <%=$sunday_date%> </div>
  <p><strong>The Forest Glade Fives</strong> has been running as a tournament since 2000 and has become one of the premier end of season 5 a-side football events for clubs in the South of England.</p>
     <p> In previous years the two day tournament has attracted around 140 teams and over 2000 visitors to the ground.</p>
     The two day format for the age groups is as follows;
  <div  style="padding-left:60px;overflow:auto;">
  <table >
    <tr style="border:solid 1px blue;">
      <td colspan="8"><span style="color:#00008b;font-size:22px;font-weight:bold;"><%=$saturday_date%> <%=year%></span></td>
    </tr>
    <tr style="font-size:20px;text-align:center;border:solid 2px gray;">
      <td>U6</td>
      <td>U8</td>
      <td>U10</td>
      <td>U12</td>
      <td>U14</td>
      <td>U16</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span style="font-size:10px;">(training games)</span></td>
      <td><span style="font-size:10px;">(exhibition)</span></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td colspan="8"><span style="color:#00008b;font-size:22px;font-weight:bold;"><%=$sunday_date%> <%=year%></span></td>
    </tr>
    <tr style="font-size:20px;text-align:center;border:solid 2px gray;">
      <td>U7</td>
      <td>U9</td>
      <td>U11</td>
      <td>U14(Girls)</td>
      <td>U13</td>
      <td>U15</td>
      <td>U18</td>
    </tr>
    <tr>
      <td><span style="font-size:10px;">(exhibition)</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
     <td colspan="8" style="font-size:12px;">Age groups are based on the <%=season%> football season.</td>
   </tr>
  </table>
    </div>
   <p>As always, whilst the football is the major attraction, around the ground there is planned to be other interests, such as a BBQ, Hot and Cold Refreshments and a Sweet tent. Making this an event for all the family to attend.</p>
   <p>The entry fee is &pound;40 per team. There is a <strong>&pound;5 discount</strong> for teams registered before the 31st March <%=year%>.</p>
   <p>To register your team please either</p>
  <p><span style="margin-left:210px;font-size:22px;font-weight:bold;"><a href="https://thefg5s.herokuapp.com/register">Apply Online</a></span></p>
  <p><span style="margin-left:80px;">or download an</span></p>
   <p><span style="margin-left:210px;font-size:22px;font-weight:bold;"><a href="http://www.thefg5s.co.uk/pdf/fg5s_application_form.pdf">Application Form</a></span></p>
    <p>All teams will receive a communication confirming their entry. Please contact us again if you do not hear from us within a reasonable time to confirm your entry. </p>
   <p>For up to date information visit the official website: <span style="font-size:20px;"><a href="http://www.thefg5s.co.uk">www.theFG5s.co.uk</a></span></p>
    <p>Please note for health and safety reasons <span style="color:red"><strong>NO DOGS</strong></span> are allowed at the event.</p>

<p>Thank You.</p>
<p><span style="color:#00008b;font-size:22px;font-weight:bold;">The Forest Glade Fives - <%=year%></span>   <a href="http://www.thefg5s.co.uk">www.theFG5s.co.uk</a></p>
 <p>&nbsp;</p>
  </tr>
</table>
<p style="text-align:center;font-size:13px;width:750px;">It is not the intention of these emails to contact individuals who do not wish to hear about the FG5s <%=year%> or Forest Glade F.C.
If you do not wish to receive further emails please click <strong><a href="http://www.thefg5s.co.uk/email?email_address=<%=email_address%>">unsubscribe</a></strong> to be removed from our mailing list.</p>
</body>
</html>